@font-face{
    font-family:'sanchez';
    src: url('fonts/Sanchez.otf') format('truetype'); 
}
a{
    transition: 1.8s;
    width: fit-content;
    margin: 3px;
    cursor: pointer;
    border: 2px solid white;
    background-color: #fff;
    margin: 0px;
    text-decoration: none;    
    color: red;
    display: block;
    
}
a:hover{
    background-color: rgb(25, 143, 113);
    color: black;
    border: 5px solid powderblue;
}
footer{
    font-family:'sanchez';
}
body {
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;   
    transition: all 1s ease-in-out;  
}

/*productos*/
.mostrador {
    position: relative;
    padding-bottom: 5rem;
    left: 6rem;
    width: 700px;
    height: 600px;
    margin-left: 0px;
    margin-right: 0px;
    align-content: center;
    overflow: hidden;

}

.imagenPro {
    width: 1500px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.imagenPro img {
    width: 400px;
    height: 600px;
}

.producto {
    float: left;
    margin: 0px;
    padding: 0px;
}

.contenedorBoton {
    top: 15px;
    left: 140px;
    position: relative;
}

.botonIma {
    display: inline-block;
    height: 50px;
    width: 50px;

}

#imagen-1:target ~ .imagenPro {
    left: 1px;
}

#imagen-2:target ~ .imagenPro {
    left: -401px;
}

#imagen-3:target ~ .imagenPro {
    left: -800px;
}

.contenidoPro {
    display: flex;
    justify-content: space-between;
}

.informacionPro {
    position: relative;
    margin: 4rem;
    left: 8%;
    width: 800px;
    height: 50px;
    text-align: justify;
}



/*Tarjetas*/
.catalogo {
    
    display: block;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: .9;
    width: 100%;
    max-width: 800px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-left: 5%;

}

.tarjetas a {
    text-decoration: none;
    color: black;
}

.imgBotones ul li {
    list-style: none;
}

.catalogo .tarjetas {
    background-color: rgb(192, 215, 200);
    position: static;
    overflow: hidden;
    width: 800px;
    height: auto;
    border-radius: 8px;
    border: solid 2px rgb(142, 187, 158);
   /* -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

/*.catalogo .tarjetas:hover {

    transform: perspective(-15);
    -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}*/

.catalogo .tarjetas img {
    width: 200px;
    height: 250px;
    padding-top: 1rem;
    
}

.catalogo .tarjetas h5 {
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 2rem;

}

.catalogo .tarjetas p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.catalogo .tarjetas a {
    text-decoration: none;
}

/*Menu*/
.menu1 {
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 10%;
    background-color: #fff;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
}

.menu1 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu1 ul li {
    float: right;
    width: 100px;
    text-align: center;
    padding: 0px 15px;
}

.menu1 ul li .btn1 {
    transition: 1.8s;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border: 0px;
    padding: 10px 20px;
    background-color: #c21c1c;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    display: block;
    padding: 35px 0px 35px 0px;
}

.btn1 {
    text-align: left;
}

.menu1 ul li .btn1:hover {
    background-color: rgb(254,113,5);
    color: #FFF;
}
.opcionesPerfil{
    display: flex;
    justify-content: space-between;
}
.opcionesPerfil a{
    transition: 1.8s;
    width: 2000px;
    
    margin: 3px;
    cursor: pointer;
    border: 2px solid white;
    
    background-color: #c21c1c;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    display: block;
    
}
.opcionesPerfil a:hover{
    background-color: rgb(192, 215, 200);
    color: black;
}
.opcionesPerfil #salida:hover{
    background-color: #000;
    color: wheat;
}
.insertados{
    margin-left: 35%;
    border: 5px solid green;
    border-radius: 15px;
    max-width: 400px;
   
    text-align: center;
}
.insertados form input{
    margin-bottom: 5px;
}

/*Paginación*/
.paginacion {
    text-align: center;
    width: 100%;
    /*  background-color: #00222D;*/
}

.paginacion ul li {
    display: inline-block;
    text-align: center;
}

.paginacion ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #00171F;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 10%;
}

.paginacion ul li a:hover {
    color: black;
    background-color: white;
}
.insertados{
    margin-left: 30%;
}
.actividadesLabel{
	color:black;
    margin-top: 10px;
	margin-bottom: 10px;	
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}

/*Responsive*/
@media (max-width:1359px) and (min-width:821px) {

 
    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    Menu .menu1 {
        width: 100%;
        max-width: 1359px;

    }

    .menu1 ul {
        display: flex;
    }

    .menu1 ul li {

        height: 50px;
        position: relative;
        top: 50px;
        left: 100px;
        width: 90px;

        padding: 0px, 0px;
    }

    
}

@media (max-width:820px) and (min-width:701px) {

   
    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    .menu1 {
        width: 100%;
        min-height: 220px;
        max-width: 820px;

    }

    .menu1 ul {
        max-width: 400px;
    }

    .menu1 ul li {
        display: flex;
        height: 40px;
        position: relative;
        top: 80px;
        left: 200px;
        width: 100px;
        padding: 0px;
    }

    .menu1 ul li .btn1 {
        padding: 5px 0px 5px 0px;

    }

    .catalogo .tarjetas {
        width: 650px;
        height: auto;
       margin-left: 0%;
    }

}

@media (max-width:700px) and (min-width:621px) {


    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    .menu1 {
        width: 100%;
        min-height: 220px;
        max-width: 820px;

    }

    .menu1 ul {
        max-width: 400px;
    }

    .menu1 ul li {
        display: flex;
        height: 40px;
        position: relative;
        top: 80px;
        left: 200px;
        width: 100px;
        padding: 0px;
    }

    .menu1 ul li .btn1 {
        padding: 5px 0px 5px 0px;

    }
    .menu1 ul li img{
        
       margin-top: 20px;
       
    }

    .menu1 ul li .btn1 {
        padding: 5px 0px 5px 0px;

    }

    .catalogo .tarjetas {
        width: 500px;
        height: auto;
       margin-left: 0%;
    }

   
}

@media (max-width:620px) and (min-width:501px) {


    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    /*Menu*/
    .menu1 {
        width: 100%;
        min-height: 200px;
        max-width: 520px;

    }

    .menu1 ul {
        max-width: 100px;
        
    }

    .menu1 ul li {
        
        display: flex;
        height: 40px;
        position: relative;
        top: 80px;
        left: 200px;
        width: 100px;
        padding: 0px;
        
    }
    .menu1 ul li img{
        margin-top: 50px;
       margin-left: 70px;
        
    }

    .menu1 ul li .btn1 {
        padding: 5px 0px 5px 0px;

    }

    .catalogo .tarjetas {
        width: 500px;
        height: auto;
       margin-left: 0%;
    }
    .opcionesPerfil{
        display: flex;
        margin-top: 100px;
    }
}

@media (max-width:500px) and (min-width:401px) {

  

    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    /*Menu*/
    .menu1 {
        width: 100%;
        max-width: 500px;
        min-height: 300px;
margin-bottom: 100px;
    }

    .menu1 ul {

        max-width: 100px;
        align-items: center;
        text-align: center;
    }

    .menu1 ul li {

        position: relative;
        top: 30px;
        left: 120px;
        width: 100px;
        text-align: center;
        padding: 0px, 0px, 0px, 1px;
    }

    .menu1 input {
        position: relative;
        top: 15px;
        left: 5px;
        width: 210px;
    }
    .catalogo .tarjetas {
        width: 400px;
        height: auto;
       margin-left: 0%;
    }
    .opcionesPerfil{
        display: flex;
        margin-top: 100px;
    }

   
}

@media (max-width:400px) and (min-width:378px) {

 


    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    /*Menu*/
    .menu1 {
        width: 100%;
        max-width: 500px;
        min-height: 300px;
margin-bottom: 100px;
    }

    .menu1 ul {

        max-width: 100px;
        align-items: center;
        text-align: center;
    }

    .menu1 ul li {

        position: relative;
        top: 30px;
        left: 120px;
        width: 100px;
        text-align: center;
        padding: 0px, 0px, 0px, 1px;
    }

    .menu1 input {
        position: relative;
        top: 15px;
        left: 5px;
        width: 210px;
    }
    .catalogo .tarjetas {
        width: 300px;
        height: auto;
       margin-left: 0%;
    }
    .opcionesPerfil{
        display: flex;
        margin-top: 100px;
    }
   

}

@media (max-width:377px) and (min-width:341px) {

   
    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    /*Menu*/
    .menu1 {
        width: 100%;
        max-width: 377px;
        min-height: 300px;

    }

    .menu1 ul {

        max-width: 200px;
        align-items: center;
        text-align: center;
    }

    .menu1 ul li {
        display: flex;
        position: relative;
        top: 0px;
        left: 120px;
        width: 100px;
        text-align: center;
        padding: 0px, 0px, 0px, 1px;
    }

    .menu1 input {
        position: relative;
        top: 15px;
        left: 5px;
        width: 210px;
    }
    .catalogo .tarjetas {
        width: 300px;
        height: auto;
       margin-left: 0%;
    }
    .opcionesPerfil{
        display: flex;
        margin-top: 100px;
    }
    
}

@media (max-width:340px) and (min-width:5px) {

  body{
      background-color: black;
  }

    /*Logotipo*/
    .wrap {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    /*Menu*/
    .menu1 {

        width: 100%;
        max-width: 340px;
    }

    .menu1 ul {
        max-width: 200px;
        align-items: center;
        text-align: center;
    }

    .menu1 ul li {
        position: relative;

        left: 78px;
        width: 100px;
        text-align: center;
        padding: 0px;
    }

    .menu1 input {
        position: relative;
        top: 25px;
        left: 20px;
        width: 210px;
    }   
    .catalogo .tarjetas {
        width: 300px;
        height: auto;
       margin-left: 0%;
    }
    .opcionesPerfil{
        display: flex;
        margin-top: 400px;
    }
}