h1{
    background-color: rgb(37,36,41);
    color: white;
    text-align: center;
    width: 100%;
    
    
}
body{
    font-family: sans-serif;
    background-image: url(../../Public/Images/ta1.png);
    background-repeat: no-repeat;
    background-size: 100%;
background-position: center center;
background-attachment: fixed;
}
.formularios{
    display: flex;
    justify-content: space-between;
}
.login{
    margin-left: 4%;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    max-width: 600px;
    height: fit-content;
    background-color:rgb(254,113,5);
}
.login form input{
    width: 90%;
}

input{
	margin-left: 10px;
	text-decoration: none;
	color:black;
	margin: 0px;
	padding: 5px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}
input:hover{
	color:white;
	background-color: black;
	border: 2px solid white;
}
a{
    transition: 1.8s;
    width: fit-content;
    margin: 3px;
    cursor: pointer;
    border: 2px solid white;
    background-color: #fff;
    margin: 0px;
    text-decoration: none;    
    color: red;
    display: block;
    
}
a:hover{
    background-color: rgb(25, 143, 113);
    color: black;
    border: 5px solid powderblue;
}